<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>WDIP</title>
		<link rel="stylesheet"
	    href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
	    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
	    crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
	    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
	    crossorigin=""></script>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	    <style>
		    #map {
			    width: 1024px;
			    height: 1024px;
		    }
	    </style>
	</head>
	<body>
		<div id='map'></div>

		<script>
			var mapSize = {{ map_sqrt_size }};
			function leafletCoords(coords) {
				var x = coords[0] / mapSize * 256;
				var y = ( - coords[1] / mapSize) * 256;
				return [y,x];
			}
			function ipCoords(coords) {
				var x = coords[1] * mapSize / 256;
				var y = (- (coords[0] / 256.)) * mapSize;
				return [x,y];
			}
			var ipv4view = leafletCoords([16744448,32768]).concat([18]);
			var ipv6view = leafletCoords([9223372036854775808,9223372036854775808]).concat([-30]);
			console.log(ipv4view);

			var map = L.map('map', {
			    crs: L.CRS.Simple,
			    minZoom: -32,
			    maxZoom: 32,
			});

			L.tileLayer('iptile/{z}/{x}/{y}.svg', {
			    attribution: 'Map data &copy; <a href="https://www.wikidata.org">Wikidata</a>',
			    continuousWorld: true,
			    noWrap: true,
			    minZoom: -32,
			    maxZoom: 32,
			}).addTo(map);

			function gotoCoords(coords) {
			    map.setView([coords[0],coords[1]],coords[2]);
			}
			gotoCoords(ipv4view);
			
			var ipv4or6control = L.control({position: 'topright'});
			ipv4or6control.onAdd = function (map) {
			    var div = L.DomUtil.create('div', 'leaflet-bar');
			    div.innerHTML = '<a onclick="gotoCoords(ipv4view)">IPv4</a>'+
				'<a onclick="gotoCoords(ipv6view)">IPv6</a>';
			    return div;
			}
			ipv4or6control.addTo(map);
				

			/* Displaying coordinates passed as argument */
			{% if coords %}
			var pointer = L.latLng(leafletCoords([ {{ coords.0 }}, {{ coords.1 }} ]));
			var marker = L.marker(pointer).addTo(map);
			marker.bindPopup("{{ ip|escapejs }}");
			{% endif %}

			/* Wikipedia edits */
			function incomingWikipediaEdit(event) {
			    var message = JSON.parse(event.data);
			    if(message.is_anon) {
				$.get('/locate', {'ip':message.user},
				   success=function(data){ displayEdit(data, message) }
				)
			    }
			};
		
			function displayEdit(locate_data, event) {
				var pointer=L.latLng(leafletCoords(
				[locate_data.coordinates.x,
				 locate_data.coordinates.y]
				));
				var marker = L.marker(pointer).addTo(map);
				marker.bindPopup(locate_data.ip
				+'<br/>on <a href="'+event.url+'" target="_blank">'
				+event.page_title+'</a>');
				console.log(event);				
			}
			
			var socket = new WebSocket('ws://wikimon.hatnote.com:9050');
			socket.onmessage = incomingWikipediaEdit;
			var socket = new WebSocket('ws://wikimon.hatnote.com:9010');
			socket.onmessage = incomingWikipediaEdit;
		</script>
	</body>
</html>

	
