{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>WDIP</title>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
	    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
	    crossorigin=""></script>
		<script src="{% static "js/leaflet-sidebar.js" %}"></script>
		<script src="{% static "js/select2.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "css/leaflet-sidebar.css" %}" />
		<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/select2.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/wdip.css" %}" />
	</head>
	<body>
		<div id="sidebar" class="sidebar collapsed">
		    <div class="sidebar-tabs">
			<ul role="tablist">
			    <li><a href="#home" role="tab"><i class="fa fa-search"></i></a></li>
			    <li><a href="#about" role="tab"><i class="fa fa-question-circle"></i></a></li>
			    <li><a href="https://github.com/wetneb" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
			</ul>

			<ul role="tablist">
			    <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
			</ul>
		    </div>

		    <div class="sidebar-content">
			<div class="sidebar-pane" id="home">
			    <h1 class="sidebar-header">
				<form>
				    <div class="form-group" style="padding-top: 3px; padding-right:10px;">
				    	<button class="btn btn-success" type="submit" style="float:right" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
					<div style="overflow: hidden; padding-right: 2px">
					    <input class="form-control" type="text" placeholder="search…" name="search-ip" />
					</div>
				    </div>
				</form>
				<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
			    </h1>
				
		            <div class="sidebar-body">
			    <p id="institution-placeholder">You can search for IP ranges and institutions, or
				click on the map to inspect a region.</p>
			    <div id="current-institution" style="display: none">
				<div id="known-ranges"></div>
			    </div>
			    </div>
			</div>

			<div class="sidebar-pane" id="about">
			    <h1 class="sidebar-header">About<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
			    <div class="sidebar-body">
				<p>This is a map of the Internet.</p>
				<h4>How is it constructed?</h4>
				<p>The map is inspired by
				<a href="https://xkcd.com/195/">XKCD's map of the Internet</a>.
				It wraps the line of IP addresses in a square using the 
				<a href="https://en.wikipedia.org/wiki/Hilbert_curve">Hilbert curve</a>,
				a space-filling fractal. This ensures that allocated IP ranges
				are represented by rectangles on the map.</p>
				<h4>Where is the data?</h4>
				<p>The IP ranges and institution metadata are stored in
				<a href="https://www.wikidata.org">Wikidata</a>, a knowledge base
				anyone can edit. They are available under the
				<a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 license</a>.</p>
				<h4>How do I contribute?</h4>
				<p>Blablabla.</p>
				<h4>Can I reuse the map?</h4>
				<p>Yes! You can embed our map of the internet
				by using the tile address <code>https://{{ request.get_host }}/iptile/{z}/{x}/{y}.svg</code> 
				in <a href="http://leafletjs.com/">Leaflet</a>.</p>
			    </div>
			</div>

			<div class="sidebar-pane" id="settings">
			    <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
			</div>
		    </div>
		</div> 
		<div id="map" class="sidebar-map"></div>

		<script>
			var mapSize = {{ map_sqrt_size }};
			function leafletCoords(coords) {
				var x = coords[0] / mapSize * 256;
				var y = ( - coords[1] / mapSize) * 256;
				return [y,x];
			}
			function ipCoords(coords) {
				var x = coords.lng * mapSize / 256;
				var y = (- (coords.lat / 256.)) * mapSize;
				return [Math.round(x),Math.round(y)];
			}
			var ipv4view = leafletCoords([16744448,32768]).concat([18]);
			var ipv6view = leafletCoords([9223372036854775808,9223372036854775808]).concat([-30]);

			var map = L.map('map', {
			    crs: L.CRS.Simple,
			    minZoom: -31,
			    maxZoom: 32,
			});

			L.tileLayer('iptile/{z}/{x}/{y}.svg', {
			    attribution: 'Map data <i class="fa fa-creative-commons"></i> <a href="https://www.wikidata.org">Wikidata</a>',
			    continuousWorld: true,
			    noWrap: true,
			    minZoom: -32,
			    maxZoom: 32,
			}).addTo(map);

			function gotoCoords(coords) {
			    map.setView([coords[0],coords[1]],coords[2]);
			}
			gotoCoords(ipv4view);
			
			/* Controls */
			var ipv4or6control = L.control({position: 'topleft'});
			ipv4or6control.onAdd = function (map) {
			    var div = L.DomUtil.create('div', 'leaflet-bar');
			    div.innerHTML = '<a onclick="gotoCoords(ipv4view)">IPv4</a>'+
				'<a onclick="gotoCoords(ipv6view)">IPv6</a>';
			    return div;
			}
			ipv4or6control.addTo(map);

			var sidebar = L.control.sidebar('sidebar').addTo(map);	

			/* Item autocompletion */
			var wdFormatter = function( item ) {
                                if ( !item.data ) {
                                        return item.text;
                                }
                                return $( '<span><b>' + item.text +
					' (' + item.data.id + ')' + '</b></span><br/><small>' +
                                                item.data.description + '</small>' );
                        };
			function setupAutocompletion() {
			    $('.qid-select').select2({
			    ajax: {
				url: "https://www.wikidata.org/w/api.php",
				dataType: "jsonp",
				delay: 250,
				data: function(params) {
				    return {
					action: "wbsearchentities",
					language: "en",
					format: "json",
					search: params.term
				    }
				},
				processResults: function(data, params) {
				    return {
					results: data.search.map( function( d ) {
					    return {
						    id: d.id,
						    text: d.label,
						    data: d
					    }
					})
				    }
				},
				cache: true,
			    },
			    escapeMarkup: function(markup) { return markup; },
			    minimumInputLength: 1,
			    templateResult: wdFormatter,
			    });
			}

			/* IP inspection */
			var currentInst = $('#current-institution');
			var knownRanges = $('#known-ranges');
			var placeholderInst = $('#institution-placeholder');
			function inspectIP(ip) {
				sidebar.open('home');
			        $('.current-sidebar-ip').text(ip);	
			        $('input[name="search-ip"]').val(ip);	
				$.get('{% url "render_ip_lookup" %}', {'ip':ip},
				    	success=function(data){
				    knownRanges.html(data);
				    placeholderInst.hide();	
				    currentInst.show();
				    var missingWhois = $('#missing-whois');
				    $.get('{% url "render_whois" %}', {'ip':ip},
					   success=function(data){
					missingWhois.html(data);
					setupAutocompletion();
				    }).fail(function(){
					missingWhois.html('<p>WHOIS query failed.</p>');
				    });
				}).fail(function(){
					currentInst.hide();
					placeholderInst.show();
				});
			}

			/* IP editing */
			function editQID(qid, ipranges, created, idx) {
			        // Set up waiting dialog
			        var waitingArea = $('#waiting-'+idx);
				waitingArea.show();
				$.get('{% url "push_ranges_to_wikidata" %}',
					{qid: qid, ipranges: ipranges, created:created},
				     success= function(data){
					waitingArea.hide();
				}).fail(function(data) {
					waitingArea.hide();
				});
			}
			$('#sidebar').on('click', '.push-qid', function(evt) {
			        var field = evt.currentTarget.getAttribute('data-field');
				console.log(field);
				var qid = $('#'+field).val();
				console.log(qid);
			        var ranges = evt.currentTarget.getAttribute('data-range');
			        var created = evt.currentTarget.getAttribute('data-created');
				var idx = evt.currentTarget.getAttribute('data-idx');
				editQID(qid, ranges, created, idx);	
			});

					    
	
			/* Clicks on the map */
			var clickPopup = L.popup();
			function onMapClick(e) {
			    var realcoords = ipCoords(e.latlng);
			    $.get('{% url "reverse_api" %}', {'x':realcoords[0],'y':realcoords[1]},
				success=function(data){ 
				var res = data.results[0];
				if(res != null) {
				    clickPopup.setContent(
		    '<a href="#ip-'+data.ip+'" class="iplink"><i class="fa fa-search"></i> &nbsp;<span class="popup-cidr">'+data.ip+'</span></a><br/>'+
		    '<i class="fa fa-institution"></i> <span class="popup-name">'+res.name+'</span><br/>'+
		    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<span class="popup-cidr">'+res.cidr+'</span>)');
				}
				else {
				    clickPopup.setContent(
		    '<a href="#ip-'+data.ip+'" class="iplink"><i class="fa fa-search"></i> <span class="popup-cidr">'+data.ip+'</span></a>');
				}

				clickPopup
				    .setLatLng(e.latlng)
				    .openOn(map);

				// if the sidebar is already open, update its content
				var visible = !L.DomUtil.hasClass(sidebar._sidebar, 'collapsed');
				if(visible) {
					inspectIP(data.ip);
				}	
			    });
			}

			map.on('click', onMapClick);
			$('#map').on('click', '.iplink', function(evt) {
				var ip = evt.currentTarget.href.split('#ip-')[1];
				inspectIP(ip);
			});

			/* Displaying coordinates passed as argument */
			/* var hash = $(this).attr('href').split('#')[1];
			if(hash) {
				// TODO
			} */
			{% if coords %}
			var pointer = L.latLng(leafletCoords([ {{ coords.0 }}, {{ coords.1 }} ]));
			var marker = L.marker(pointer).addTo(map);
			marker.bindPopup("{{ ip|escapejs }}");
			{% endif %}

			

			/* Wikipedia edits */
			function incomingWikipediaEdit(event) {
			    var message = JSON.parse(event.data);
			    if(message.is_anon) {
				$.get('{% url "locate_api" %}', {'ip':message.user},
				   success=function(data){ displayEdit(data, message) }
				)
			    }
			};
		
			function displayEdit(locate_data, event) {
				var pointer=L.latLng(leafletCoords(
				[locate_data.coordinates.x,
				 locate_data.coordinates.y]
				));
				var marker = L.marker(pointer).addTo(map);
				var txt = ('<a href="#ip-'+locate_data.ip
				+'" class="iplink"><i class="fa fa-search"></i> &nbsp;<span class="popup-cidr">'
				+locate_data.ip+'</span></a>'
				+'<br/>on <a href="'+event.url+'" target="_blank">'
				+event.page_title+'</a>');
				marker.bindPopup(txt);
				setTimeout(function(){ marker.remove(); }, 60000);
				/* var circle = L.circleMarker(pointer, { radius : 50 }).addTo(map); */
			}
			var socket = new WebSocket('ws://wikimon.hatnote.com:9050');
			socket.onmessage = incomingWikipediaEdit;
			var socket = new WebSocket('ws://wikimon.hatnote.com:9010');
			socket.onmessage = incomingWikipediaEdit;
			var socket = new WebSocket('ws://wikimon.hatnote.com:9000');
			socket.onmessage = incomingWikipediaEdit;
		</script>
	</body>
</html>

	
